<!DOCTYPE html>
<html>

<head>

	<title>Add Course</title>
	<meta charset="utf-8">
	<link rel="icon" href="img/mistAI.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
		}

		body {
			margin: 0px;
			padding: 0px;
		}

		.card {
			border-radius: 15px;
		}

		.col01 {
			margin: auto;
		}

		h1 {
			color: red;
		}
	</style>

</head>

<body>

	<div class="row">

		<div class="col01 col-md-6 col-sm-9"><br>

			<div class="card">
				<div class="card-body">

					<br>
					<center>
						<h1>Error Occured!</h1>
					</center><br>
					<center>
						<h4>You either have no access to this page or the link is broken.</h4>
					</center><br>

				</div>
			</div><br><br>
		</div>
	</div>

</body>

</html>