<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MIST.AI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section>
        <h1>MIST.AI</h1>
        <h2>An AI for the Students, By the Students.</h2>

        <button><i class="fa fa-microphone"></i></button>

        <div>
            <p><em class="output-you">...</em></p><br>
            <p><em class="output-bot">...</em></p>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>

</html>