<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MIST.AI</title>

  <link rel="icon" href="img/mistAI.png" />

  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" /> -->
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <section>
    <center>
      <h1 style="display: inline;margin-left:50px">MIST.AI</h1>

      <a href="/dashboard" style="float: right;"><img src="img/menu_icon2.png" style="width: 50px;height: 50px;" /></a>
    </center>
    <h2>An AI for the Students, By the Students.</h2>

    <div class="todaysReminders">
      <!-- <div>
        <span>Study Concrete Mathematics</span>
        <span style="font-style: italic;font-size: 15px;float:right;font-weight: bold;">@10:30AM</span>
      </div> -->
    </div>

    <button class="microbtn"><i class="fa fa-microphone"></i></button>

    <div>
      <p><em class="output-you">...</em></p>
      <br />
      <p><em class="output-bot">...</em></p>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Write something..." />
      <!-- <div class="input-group-append"> -->
      <span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
      <!-- </div> -->
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
  <script src="js/script.js"></script>

  <script src="https://code.responsivevoice.org/responsivevoice.js?key=cqTky6bB"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-firestore.js"></script>

  <script>
    $(".todaysReminders").not('.slick-initialized').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 1,
      responsive: [{
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyC00dVBAh_8RbWixr-LI-lkKbRnqR53-_c",
      authDomain: "mist-ai-lnnjgm.firebaseapp.com",
      databaseURL: "https://mist-ai-lnnjgm.firebaseio.com",
      projectId: "mist-ai-lnnjgm",
      storageBucket: "mist-ai-lnnjgm.appspot.com",
      messagingSenderId: "613246362840",
      appId: "1:613246362840:web:8be8cfdf962336a18063ad"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    var db = firebase.firestore();

    // db.collection("reminders").onSnapshot(function (snapshot) {
    //   snapshot.docChanges().forEach(function (change) {
    //     if (change.type === "added") {
    //       renderTodaysTasks();
    //     }
    //     if (change.type === "modified") {
    //       renderTodaysTasks();
    //     }
    //     if (change.type === "removed") {
    //       renderTodaysTasks();
    //       // console.log("Removed city: ", change.doc.data());
    //     }
    //   });
    // });
    db.collection("reminders")
      .onSnapshot({
        // Listen for document metadata changes
        includeMetadataChanges: true
      }, function (doc) {
        renderTodaysTasks();
      });
    db.collection("studyplanner")
      .onSnapshot({
        // Listen for document metadata changes
        includeMetadataChanges: true
      }, function (doc) {
        renderTodaysTasks();
      });


    function renderTodaysTasks() {
      fetch('/getTodaysTasks').then(response => response.json()).then(tasks => {
        //$(".todaysReminders").empty();
        $('.todaysReminders').slick('slickRemove', null, null, true);
        for (let i = 0; i < tasks.length; i++) {
          var xc = i + 1;
          appendTodaysTasks(tasks[i].title, formatAMPM(new Date(tasks[i].time)), xc);
          if (tasks[i].type === 'Rem') {
            setAlarm(new Date(tasks[i].time), tasks[i].title, tasks[i].id, xc);
          }
        }
      });

      function appendTodaysTasks(title, time, xc) {
        // $(".todaysReminders").append(
        $('.todaysReminders').slick('slickAdd',
          '<div class="task' + xc +
          '"> <span style="font-size: 12px;">' + title +
          '</span> <span style = "font-style: italic;font-size: 15px;float:right;font-weight: bold;"> @' + time +
          ' </span ></div>'
        );
      }

      function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        if (isNaN(minutes)) {
          minutes = 0;
        }
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
      }
    }

    function setAlarm(targetDate, alarmTitle, id, xc) {
      if (targetDate.getTime() <= new Date().getTime()) {
        var reply = "It's time for " + alarmTitle;
        talkback(reply);
        $.post('/deleteReminder', {
            "id": id
          },
          'json');
        return;
      }

      window.setTimeout(arguments.callee, 1000, targetDate, alarmTitle, id, xc); // tick every second
    }



    function detectMob() {
      const toMatch = [
        /Android/i,
        /webOS/i,
        /iPhone/i,
        /iPad/i,
        /iPod/i,
        /BlackBerry/i,
        /Windows Phone/i
      ];

      return toMatch.some(toMatchItem => {
        return navigator.userAgent.match(toMatchItem);
      });
    }

    if (annyang) {
      // Let's define our first command. First the text we expect, and then the function it should call
      var commands = {
        mina: function () {
          document.querySelector("button").click();
        }
      };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening. You can call this here, or attach this call to an event, button, etc.

      if (!detectMob()) {
        annyang.start({
          autoRestart: true,
          continuous: false
        });
      }
    }
  </script>
</body>

</html>